GSS_Biztalk/BizTalkLibrary/Web References/WS_SalesOrder/SalesOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/salesorder" targetNamespace="urn:microsoft-dynamics-schemas/page/salesorder" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/salesorder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="HotOrder_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="Overnight" />
          <xsd:enumeration value="_x0032_nd_Day" />
          <xsd:enumeration value="_x0033_rd_Day" />
          <xsd:enumeration value="Overnight_AM" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Estimated_Delivery_Time">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0037__to_10_Days" />
          <xsd:enumeration value="_x0031_0_to_15_Days" />
          <xsd:enumeration value="_x0032__to_4_Weeks" />
          <xsd:enumeration value="_x0034__to_6_Weeks" />
          <xsd:enumeration value="_x0036_0_to_90_Days" />
          <xsd:enumeration value="According_to_Agreed_Terms" />
          <xsd:enumeration value="According_to_RFQ" />
          <xsd:enumeration value="_x0036__to_8_Weeks" />
          <xsd:enumeration value="_x0031_20_Days" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Pending_Approval" />
          <xsd:enumeration value="Pending_Prepayment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Credit_Card_Invoice_Transmit">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fax_Invoice" />
          <xsd:enumeration value="Mail_Invoice" />
          <xsd:enumeration value="No_Invoice" />
          <xsd:enumeration value="_blank__blank_" />
          <xsd:enumeration value="E_Mail_Invoice" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Account_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Visa" />
          <xsd:enumeration value="MasterCard" />
          <xsd:enumeration value="American_Express" />
          <xsd:enumeration value="Discover" />
          <xsd:enumeration value="Diner_x0027_s_Club" />
          <xsd:enumeration value="JCB_Card" />
          <xsd:enumeration value="Other" />
          <xsd:enumeration value="Gift_Card" />
          <xsd:enumeration value="EBT" />
          <xsd:enumeration value="Check" />
          <xsd:enumeration value="Laser" />
          <xsd:enumeration value="Maestro" />
          <xsd:enumeration value="Solo" />
          <xsd:enumeration value="Switch" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Advice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Fixed_Asset" />
          <xsd:enumeration value="Charge_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Certificate_Required">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="C_of_C" />
          <xsd:enumeration value="C_of_A" />
          <xsd:enumeration value="SDS" />
          <xsd:enumeration value="C_of_A_and_SDS" />
          <xsd:enumeration value="C_of_A_and_C_of_C" />
          <xsd:enumeration value="C_of_C__x0026__C_of_A__x0026__SDS" />
          <xsd:enumeration value="C_of_C_and_SDS" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QA_Inspection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Passed" />
          <xsd:enumeration value="Failed_Wrong__x0023_" />
          <xsd:enumeration value="Failed_Wrong_Qty_on_Packing_Slip" />
          <xsd:enumeration value="Failed_Item_Not_Identifiable" />
          <xsd:enumeration value="Failed_Item_Damaged" />
          <xsd:enumeration value="Potential_Suspect_Counterfeit_Item" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ML">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0031_" />
          <xsd:enumeration value="_x0032_" />
          <xsd:enumeration value="_x0033_" />
          <xsd:enumeration value="_x0034_" />
          <xsd:enumeration value="NA" />
          <xsd:enumeration value="WR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Sales_Order_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Each" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pricing_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Is_Free_Good_Line" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Manual_Agreements" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Is_Manual_Price" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Order_Based_Break" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Order_Based_Free_Good" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Has_Free_Good_Available" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Is_Zero_Priced_Line" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CA_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NM_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TN_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WH_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VA_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Override_Reason" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_Line_Amount_Quantity_x002B_0_0000001_Unit_Cost_LCY_Line_Amount_Quantity_x002B_0_0000001__x002B_0_000001__x002A_100" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Direct_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Valid_From" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Valid_To" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturer_List_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GSS_List_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_Manufacturer_List_Price_Unit_Price_Manufacturer_List_Price__x002B_0_000001__x002A_100" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_Manufacturer_List_Price_Unit_Cost_LCY_Manufacturer_List_Price__x002B_0_000001__x002A_100" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Quote_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Drop_Ship" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drop_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_ID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Certificate_Required" type="tns:Certificate_Required" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Federal_Supply_Schedule_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FSS_State_Municipal_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FSS_Contract_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchase_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purch_Order_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchasing_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Order_Purchase_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Order_Purch_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Part_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Part_No_Qty_needed" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Group_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QA_Inspection" type="tns:QA_Inspection" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Back_Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Back_Ordered_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Back_Ordered" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tracking_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tracking_Carrier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_Line_Amount_Quantity_x002B_0_00000001" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Purchase_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Sales_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Ship" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Shipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Invoice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Invoiced" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Alt_Vendor_Name_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode_Req" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode_Start" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode_End" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_Part_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_UoM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_UoM_Size" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_Storage_Container_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_Temp_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_Pressure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LANL_CAS_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ML" type="tns:ML" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Physical_State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_Part_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_UoM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_UoM_Size" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_Storage_Container_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_Temp_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sandia_Pressure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appl_to_Item_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appl_from_Item_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purch_Order_Backorder_Ind" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Order_Backorder_Ind" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estimated_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WH_Verified_Stock" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WH_Verified_Stock_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contract_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Discount_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sys_Suggested_Sales_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Current_Sales_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Landed_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outstanding_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Excl_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_VAT_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Amount_Incl_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RefreshTotals" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sales_Order_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Sales_Order_Line" type="tns:Sales_Order_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Sales_Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Invoice" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Quality_Req_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requirement_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requirement" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Req_No_Inspection" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qualified_Supplier_Required" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchasing_Review_Complete" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Product_Received_Meets_Req" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Warehouse_Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="product_Meets_Req_to_Ship" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Document_Type" type="tns:Sales_Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Quality_Req_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Quality_Req_Line" type="tns:Quality_Req_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesOrder">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact_ID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Customer_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sell_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eStore_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HotOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HotOrder_Type" type="tns:HotOrder_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Document_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Requested_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="External_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Solicitation_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Team" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ready_for_Sales_Review" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Standing_Order" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Your_Reference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estimated_Delivery_Time" type="tns:Estimated_Delivery_Time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quote_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Credit_Card_Invoice_Transmit" type="tns:Credit_Card_Invoice_Transmit" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Month" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Year" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Account_Type" type="tns:Account_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cardholder_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BPA_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Call_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount_Including_VAT" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Price_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ARRA_Funded" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Task_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Department_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automate_Confirmation" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcodes_Req" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Building" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Room" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Organization__x0023_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ship_to_Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Package_Tracking_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Advice" type="tns:Shipping_Advice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EU_3_Party_Trade" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Specification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transport_Method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exit_Point" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Received_By_Purchasing" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchasing_Complete" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Paperwork_to_Accounting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contains_Option_Years" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State_Contract_Order" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State_Contract_No_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EPA_Lab_ID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Compress_Prepayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Payment_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Pmt_Discount_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepmt_Include_Tax" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amt_to_Auth_Sale_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amt_Authorized_Sale_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amt_Auth_On_Hold_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amount_to_Authorize_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amt_to_Settle_Sale_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amount_to_Settle_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amount_Settled_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Net_Amount_Settled_Sale_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SalesLines" type="tns:Sales_Order_Line_List" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quality_Req_Line" type="tns:Quality_Req_Line_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesOrder_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="SalesOrder" type="tns:SalesOrder" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SalesOrder_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Sell_to_Customer_No" />
          <xsd:enumeration value="Contact_ID" />
          <xsd:enumeration value="Contact_Name" />
          <xsd:enumeration value="Sell_to_Customer_Name" />
          <xsd:enumeration value="Sell_to_Customer_Name_2" />
          <xsd:enumeration value="Sell_to_Address" />
          <xsd:enumeration value="Sell_to_Address_2" />
          <xsd:enumeration value="Sell_to_City" />
          <xsd:enumeration value="Sell_to_County" />
          <xsd:enumeration value="Sell_to_Post_Code" />
          <xsd:enumeration value="eStore_Order_No" />
          <xsd:enumeration value="HotOrder" />
          <xsd:enumeration value="HotOrder_Type" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Order_Date" />
          <xsd:enumeration value="Document_Date" />
          <xsd:enumeration value="Requested_Delivery_Date" />
          <xsd:enumeration value="External_Document_No" />
          <xsd:enumeration value="Solicitation_No" />
          <xsd:enumeration value="Sales_Team" />
          <xsd:enumeration value="Salesperson_Code" />
          <xsd:enumeration value="Ready_for_Sales_Review" />
          <xsd:enumeration value="Standing_Order" />
          <xsd:enumeration value="Your_Reference" />
          <xsd:enumeration value="Estimated_Delivery_Time" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Quote_No" />
          <xsd:enumeration value="Notes" />
          <xsd:enumeration value="Bill_to_Customer_No" />
          <xsd:enumeration value="Bill_to_Name" />
          <xsd:enumeration value="Bill_to_Name_2" />
          <xsd:enumeration value="Bill_to_Address" />
          <xsd:enumeration value="Bill_to_Address_2" />
          <xsd:enumeration value="Bill_to_City" />
          <xsd:enumeration value="Bill_to_County" />
          <xsd:enumeration value="Bill_to_Post_Code" />
          <xsd:enumeration value="Bill_to_Country_Region_Code" />
          <xsd:enumeration value="Bill_to_Contact" />
          <xsd:enumeration value="Tax_Liable" />
          <xsd:enumeration value="Tax_Area_Code" />
          <xsd:enumeration value="Credit_Card_Invoice_Transmit" />
          <xsd:enumeration value="Account_Number" />
          <xsd:enumeration value="Expiration_Month" />
          <xsd:enumeration value="Expiration_Year" />
          <xsd:enumeration value="Account_Type" />
          <xsd:enumeration value="Cardholder_Name" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="BPA_No" />
          <xsd:enumeration value="Call_No" />
          <xsd:enumeration value="Amount_Including_VAT" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="Customer_Posting_Group" />
          <xsd:enumeration value="Customer_Price_Group" />
          <xsd:enumeration value="ARRA_Funded" />
          <xsd:enumeration value="Project_No" />
          <xsd:enumeration value="Task_No" />
          <xsd:enumeration value="Department_No" />
          <xsd:enumeration value="Automate_Confirmation" />
          <xsd:enumeration value="Ship_to_Code" />
          <xsd:enumeration value="Ship_to_Name" />
          <xsd:enumeration value="Ship_to_Name_2" />
          <xsd:enumeration value="Ship_to_Address" />
          <xsd:enumeration value="Ship_to_Address_2" />
          <xsd:enumeration value="Ship_to_City" />
          <xsd:enumeration value="Ship_to_County" />
          <xsd:enumeration value="Ship_to_Post_Code" />
          <xsd:enumeration value="Ship_to_Country_Region_Code" />
          <xsd:enumeration value="Ship_to_Contact" />
          <xsd:enumeration value="Barcodes_Req" />
          <xsd:enumeration value="Building" />
          <xsd:enumeration value="Room" />
          <xsd:enumeration value="Organization__x0023_" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Ship_to_Phone_No" />
          <xsd:enumeration value="Package_Tracking_No" />
          <xsd:enumeration value="Shipment_Date" />
          <xsd:enumeration value="Shipping_Advice" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="EU_3_Party_Trade" />
          <xsd:enumeration value="Transaction_Type" />
          <xsd:enumeration value="Transaction_Specification" />
          <xsd:enumeration value="Transport_Method" />
          <xsd:enumeration value="Exit_Point" />
          <xsd:enumeration value="Area" />
          <xsd:enumeration value="Received_By_Purchasing" />
          <xsd:enumeration value="Purchasing_Complete" />
          <xsd:enumeration value="Paperwork_to_Accounting" />
          <xsd:enumeration value="Contains_Option_Years" />
          <xsd:enumeration value="State_Contract_Order" />
          <xsd:enumeration value="State_Contract_No_2" />
          <xsd:enumeration value="EPA_Lab_ID" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="Compress_Prepayment" />
          <xsd:enumeration value="Prepmt_Payment_Terms_Code" />
          <xsd:enumeration value="Prepayment_Due_Date" />
          <xsd:enumeration value="Prepmt_Payment_Discount_Percent" />
          <xsd:enumeration value="Prepmt_Pmt_Discount_Date" />
          <xsd:enumeration value="Prepmt_Include_Tax" />
          <xsd:enumeration value="Net_Amt_to_Auth_Sale_LCY" />
          <xsd:enumeration value="Net_Amt_Authorized_Sale_LCY" />
          <xsd:enumeration value="Net_Amt_Auth_On_Hold_LCY" />
          <xsd:enumeration value="Net_Amount_to_Authorize_LCY" />
          <xsd:enumeration value="Net_Amt_to_Settle_Sale_LCY" />
          <xsd:enumeration value="Net_Amount_to_Settle_LCY" />
          <xsd:enumeration value="Net_Amount_Settled_LCY" />
          <xsd:enumeration value="Net_Amount_Settled_Sale_LCY" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SalesOrder_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:SalesOrder_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:SalesOrder_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:SalesOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder_List" type="tns:SalesOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder_List" type="tns:SalesOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder" type="tns:SalesOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder_List" type="tns:SalesOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesOrder_List" type="tns:SalesOrder_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_SalesLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SalesLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_SalesLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_SalesLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Quality_Req_Line">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Quality_Req_Line_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Quality_Req_Line_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Quality_Req_Line_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_SalesLines">
    <part name="parameters" element="tns:Delete_SalesLines" />
  </message>
  <message name="Delete_SalesLines_Result">
    <part name="parameters" element="tns:Delete_SalesLines_Result" />
  </message>
  <message name="Delete_Quality_Req_Line">
    <part name="parameters" element="tns:Delete_Quality_Req_Line" />
  </message>
  <message name="Delete_Quality_Req_Line_Result">
    <part name="parameters" element="tns:Delete_Quality_Req_Line_Result" />
  </message>
  <portType name="SalesOrder_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_SalesLines">
      <input name="Delete_SalesLines" message="tns:Delete_SalesLines" />
      <output name="Delete_SalesLines_Result" message="tns:Delete_SalesLines_Result" />
    </operation>
    <operation name="Delete_Quality_Req_Line">
      <input name="Delete_Quality_Req_Line" message="tns:Delete_Quality_Req_Line" />
      <output name="Delete_Quality_Req_Line_Result" message="tns:Delete_Quality_Req_Line_Result" />
    </operation>
  </portType>
  <binding name="SalesOrder_Binding" type="tns:SalesOrder_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_SalesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Delete_SalesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_SalesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_SalesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_Quality_Req_Line">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/salesorder:Delete_Quality_Req_Line" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_Quality_Req_Line">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Quality_Req_Line_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="SalesOrder_Service">
    <port name="SalesOrder_Port" binding="tns:SalesOrder_Binding">
      <address location="http://172.16.25.81:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Page/SalesOrder" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>