GSS_Biztalk/BizTalkLibrary/Web References/WS_ItemCard/ItemCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/itemcard" targetNamespace="urn:microsoft-dynamics-schemas/page/itemcard" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/itemcard" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Replenishment_System">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Purchase" />
          <xsd:enumeration value="Prod_Order" />
          <xsd:enumeration value="Assembly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reordering_Policy">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Fixed_Reorder_Qty" />
          <xsd:enumeration value="Maximum_Qty" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Lot_for_Lot" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PPG_Bucket_List_Card">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category6" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LeafNode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category1TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category2TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category3TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category4TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category5TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category6TC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LeafNodeTC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PPG" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PPG_Bucket_List_Card_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PPG_Bucket_List_Card" type="tns:PPG_Bucket_List_Card" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Items_Per_UOM" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Updated_On" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Valid_Until" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Extended_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UNSPSC_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Picture_File" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Purch_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Sales_Order" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Purch_Return" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_on_Sales_Return" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory_Posting_Group_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Group_Code_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Controlled_Substance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="temp" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Drop_Ship_Only" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Standard_Nav_Pricing" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Standard_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GSS_List_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturer_List_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_1_Standard_Cost_Unit_Price__x002B_0_0000001__x002A_100" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Direct_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Min_Sales_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LIDS_Price_New" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DAPA_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="eVA_Pricing" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Landed_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recommended_Sales_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Product_Group_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_FSS_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_STL_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Contract_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_FSS_Sin_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Most_Recent_Mod_Approval_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LA_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LA_Code_Adjusted" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_is_Adjusted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Replenishment_System" type="tns:Replenishment_System" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purch_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reordering_Policy" type="tns:Reordering_Policy" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Include_Inventory" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Stockkeeping_Unit_Exists" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Positive_Adjmt_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Negative_Adjmt_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchases_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Max_Shelf_Life" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maximum_Inventory" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reorder_Point" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reorder_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Maximum_Order_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Minimum_Order_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_Multiple" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_of_Origin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phys_Invt_Counting_Period_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Phys_Invt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Counting_Period_Update" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Next_Counting_Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Next_Counting_End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Tracking_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Category_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date_Added" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Added_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Ext_Texts" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Alternative_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GTIN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PPG_Bucket_List_Card" type="tns:PPG_Bucket_List_Card_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemCard_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ItemCard" type="tns:ItemCard" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ItemCard_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Base_Unit_of_Measure" />
          <xsd:enumeration value="Items_Per_UOM" />
          <xsd:enumeration value="Price_Updated_On" />
          <xsd:enumeration value="Price_Valid_Until" />
          <xsd:enumeration value="Note" />
          <xsd:enumeration value="Extended_Description" />
          <xsd:enumeration value="UNSPSC_Code" />
          <xsd:enumeration value="Picture_File" />
          <xsd:enumeration value="Inventory" />
          <xsd:enumeration value="Qty_on_Purch_Order" />
          <xsd:enumeration value="Qty_on_Sales_Order" />
          <xsd:enumeration value="Qty_on_Purch_Return" />
          <xsd:enumeration value="Qty_on_Sales_Return" />
          <xsd:enumeration value="Gen_Prod_Posting_Group_2" />
          <xsd:enumeration value="Inventory_Posting_Group_2" />
          <xsd:enumeration value="Tax_Group_Code_2" />
          <xsd:enumeration value="Controlled_Substance" />
          <xsd:enumeration value="temp" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Drop_Ship_Only" />
          <xsd:enumeration value="Start_Date" />
          <xsd:enumeration value="End_Date" />
          <xsd:enumeration value="Use_Standard_Nav_Pricing" />
          <xsd:enumeration value="Standard_Cost" />
          <xsd:enumeration value="Unit_Price" />
          <xsd:enumeration value="GSS_List_Price" />
          <xsd:enumeration value="Manufacturer_List_Price" />
          <xsd:enumeration value="_1_Standard_Cost_Unit_Price__x002B_0_0000001__x002A_100" />
          <xsd:enumeration value="Last_Direct_Cost" />
          <xsd:enumeration value="Min_Sales_Price" />
          <xsd:enumeration value="LIDS_Price_New" />
          <xsd:enumeration value="DAPA_Price" />
          <xsd:enumeration value="eVA_Pricing" />
          <xsd:enumeration value="Landed_Cost" />
          <xsd:enumeration value="Recommended_Sales_Price" />
          <xsd:enumeration value="Product_Group_Code" />
          <xsd:enumeration value="New_FSS_Price" />
          <xsd:enumeration value="New_STL_Price" />
          <xsd:enumeration value="New_Contract_No" />
          <xsd:enumeration value="New_FSS_Sin_No" />
          <xsd:enumeration value="Most_Recent_Mod_Approval_Date" />
          <xsd:enumeration value="LA_Code" />
          <xsd:enumeration value="LA_Code_Adjusted" />
          <xsd:enumeration value="Cost_is_Adjusted" />
          <xsd:enumeration value="Replenishment_System" />
          <xsd:enumeration value="Lead_Time_Calculation" />
          <xsd:enumeration value="Vendor_No" />
          <xsd:enumeration value="Vendor_Item_No" />
          <xsd:enumeration value="Purch_Unit_of_Measure" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Reordering_Policy" />
          <xsd:enumeration value="Include_Inventory" />
          <xsd:enumeration value="Stockkeeping_Unit_Exists" />
          <xsd:enumeration value="Positive_Adjmt_Qty" />
          <xsd:enumeration value="Negative_Adjmt_Qty" />
          <xsd:enumeration value="Purchases_Qty" />
          <xsd:enumeration value="Sales_Qty" />
          <xsd:enumeration value="Max_Shelf_Life" />
          <xsd:enumeration value="Maximum_Inventory" />
          <xsd:enumeration value="Reorder_Point" />
          <xsd:enumeration value="Reorder_Quantity" />
          <xsd:enumeration value="Maximum_Order_Quantity" />
          <xsd:enumeration value="Minimum_Order_Quantity" />
          <xsd:enumeration value="Order_Multiple" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Country_Region_of_Origin_Code" />
          <xsd:enumeration value="Phys_Invt_Counting_Period_Code" />
          <xsd:enumeration value="Last_Phys_Invt_Date" />
          <xsd:enumeration value="Last_Counting_Period_Update" />
          <xsd:enumeration value="Next_Counting_Start_Date" />
          <xsd:enumeration value="Next_Counting_End_Date" />
          <xsd:enumeration value="Item_Tracking_Code" />
          <xsd:enumeration value="Item_Category_Code" />
          <xsd:enumeration value="Date_Added" />
          <xsd:enumeration value="Added_By" />
          <xsd:enumeration value="Automatic_Ext_Texts" />
          <xsd:enumeration value="Alternative_Item_No" />
          <xsd:enumeration value="GTIN" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ItemCard_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ItemCard_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ItemCard_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ItemCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard_List" type="tns:ItemCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard_List" type="tns:ItemCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard" type="tns:ItemCard" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard_List" type="tns:ItemCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ItemCard_List" type="tns:ItemCard_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PPG_Bucket_List_Card">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PPG_Bucket_List_Card_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_PPG_Bucket_List_Card_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_PPG_Bucket_List_Card_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_PPG_Bucket_List_Card">
    <part name="parameters" element="tns:Delete_PPG_Bucket_List_Card" />
  </message>
  <message name="Delete_PPG_Bucket_List_Card_Result">
    <part name="parameters" element="tns:Delete_PPG_Bucket_List_Card_Result" />
  </message>
  <portType name="ItemCard_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_PPG_Bucket_List_Card">
      <input name="Delete_PPG_Bucket_List_Card" message="tns:Delete_PPG_Bucket_List_Card" />
      <output name="Delete_PPG_Bucket_List_Card_Result" message="tns:Delete_PPG_Bucket_List_Card_Result" />
    </operation>
  </portType>
  <binding name="ItemCard_Binding" type="tns:ItemCard_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_PPG_Bucket_List_Card">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/itemcard:Delete_PPG_Bucket_List_Card" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_PPG_Bucket_List_Card">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_PPG_Bucket_List_Card_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ItemCard_Service">
    <port name="ItemCard_Port" binding="tns:ItemCard_Binding">
      <address location="http://172.16.25.81:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Page/ItemCard" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>